---
const today = new Date();
---

<footer class='bg-apple-light-gray dark:bg-apple-dark-surface-5 border-t border-black/10 dark:border-white/10 mt-8'>
	<div class='container'>
		<div class='py-6'>
			<div class='md:flex text-xs text-black/48 dark:text-white/48 justify-between tracking-[-0.12px]'>
				<div>Copyright &copy; {today.getFullYear()} koji.</div>
				<div>Template created by <a href='https://devaradise.com' target='_blank' rel='nofollow noopener' class='text-apple-link-blue dark:text-apple-bright-blue hover:underline'>Syakir @ Devaradise</a></div>
			</div>
		</div>
	</div>
</footer>
