---
import type { HTMLAttributes } from 'astro/types';

type Props = HTMLAttributes<'a'>;

const { href, class: className, ...props } = Astro.props;

const { pathname } = Astro.url;
const subpath = pathname.match(/[^\/]+/g);
const isActive = href === pathname || href === '/' + subpath?.[0];
---

<a
	href={href}
	class:list={[
		className,
		'transition-colors duration-200 tracking-[-0.224px]',
		{ 'text-apple-near-black dark:text-white font-semibold': isActive },
		{ 'text-black/48 dark:text-white/48 hover:text-apple-near-black dark:hover:text-white': !isActive }
	]}
	{...props}
>
	<slot />
</a>
