---
import Author from '../Author.astro';
---

<div class='about-the-author py-4 border-b'>
	<h3 class='font-extrabold uppercase mb-4 text-sm'>About the Author</h3>
	<Author picSize='md' />
	<div class='author-desc text-[.825rem] my-4'>
		<p class='mb-3'>
			Koji is a software engineer with experiences building IoT system, Desktop application, and On-Device application. He is actively
			writing on{'new tech(mostly GenAI) and frontend stuff'}.
			<!-- <a href='https://devaradise.com' target='_blank' class='underline'>Devaradise.com</a> -->
		</p>
		<p>
			He will be happy to work and collaborate in any project as a software engineer. His main stacks are React, TypeScript, Nodejs, and
			Python.
		</p>
	</div>
</div>
