---
const { headings, maxLevel = 3 } = Astro.props;
const toc = buildToc(headings);
function buildToc(headings: any) {
	const _toc: any = [];
	const parentHeadings = new Map();
	(headings || []).forEach((h: any) => {
		const heading = { ...h, subheadings: [] };
		parentHeadings.set(heading.depth, heading);
		if (heading.depth === 2) {
			_toc.push(heading);
		} else {
			if (maxLevel > 2) {
				parentHeadings.get(heading.depth - 1)?.subheadings?.push(heading);
			}
		}
	});
	return _toc;
}
---

<nav class='toc sticky top-4 py-2 lg:-ml-3'>
	<h3 class='font-semibold uppercase mb-1 px-3 text-xs text-black/48 dark:text-white/48 tracking-[-0.12px]'>On This Page</h3>
	<ul class='toc-list max-h-[calc(100vh-70px)] overflow-auto text-[14px] tracking-[-0.224px]'>
		{
			toc.map((heading: any) => (
				<li>
					<a
						class='block font-semibold py-1.5 px-3 border-l-2 border-transparent text-black/80 dark:text-white/80 leading-tight hover:text-apple-link-blue dark:hover:text-apple-bright-blue transition-colors'
						href={'#' + heading.slug}>
						{heading.text}
					</a>
					{heading.subheadings?.length > 0 && (
						<ul>
							{heading.subheadings.map((subheading: any) => (
								<li>
									<a
										class='block py-1.5 pl-6 pr-3 border-l-2 border-transparent text-black/48 dark:text-white/48 leading-tight hover:text-apple-link-blue dark:hover:text-apple-bright-blue transition-colors'
										href={'#' + subheading.slug}>
										{subheading.text}
									</a>
								</li>
							))}
						</ul>
					)}
				</li>
			))
		}
	</ul>
</nav>
<style>
	.toc-list::-webkit-scrollbar {
		width: 5px;
	}
	.toc-list::-webkit-scrollbar-track {
		background: transparent;
	}
	.toc-list::-webkit-scrollbar-thumb {
		background: #d2d2d7;
		border-radius: 5px;
	}
	:global(.dark) .toc-list::-webkit-scrollbar-thumb {
		background: #424245;
		border-radius: 5px;
	}
</style>
