---
import { Image } from 'astro:assets';
import { SITE_DESCRIPTION } from '../consts';
import BaseLayout from '../layouts/BaseLayout.astro';
import NotFoundImage from '@src/assets/img/404-not-found.png';
---

<BaseLayout title={'404 Page Not Found - '} description={SITE_DESCRIPTION + ' 404 Page Not Found'}>
	<div class='container text-center'>
		<Image width={300} class='my-8 mx-auto' src={NotFoundImage} alt='404 Page Not Found' />
		<div class='p-4'>
			<h1 class='text-[40px] font-semibold my-4 text-apple-near-black dark:text-white leading-[1.07] tracking-[-0.28px]'>Page Not Found</h1>
			<p class='text-[17px] text-black/80 dark:text-white/80 leading-[1.47] tracking-[-0.374px]'>
				The page you're looking for is either moved or no longer exists. <br />
				Please contact the site owner that linked you to the original URL and let them know their link is broken.
			</p>
		</div>
	</div>
</BaseLayout>
