---
import BaseLayout from '../../layouts/BaseLayout.astro';
import ProjectList from '../../components/ProjectList.astro';
import { projects } from './projects';

---

<BaseLayout
	title="All My Projects"
	description="All my project portfolio from real projects to open source projects."
>
  <div class='container'>
    <div class="mb-10">
      <h1 class="text-[40px] font-semibold mb-2 text-apple-near-black dark:text-white leading-[1.10] tracking-[-0.28px]">All My Projects</h1>
      <p class="text-black/80 dark:text-white/80 text-[17px] leading-[1.47] tracking-[-0.374px]">All my project portfolio from real projects to open source projects.</p>
    </div>
    <ProjectList projects={projects}/>
  </div>
</BaseLayout>
